@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model MyMvcApp.Models.Product

    <h2>Create Product</h2>

    <form method="post">
        <input name="Name" placeholder="Name" />
        <input name="Price" placeholder="Price" />
        <button type="submit">Save</button>
    </form>

}
